.planner {
  border-spacing: 2px;
  border-collapse: separate;
}
.planner th {
  text-align: center;
}
.timeslot {
  height: 3em;
  width: 14%;
  border-spacing: 2px;
  background: #ffffff;
  cursor: pointer;
}
.timeslot:hover {
  background: #ffc600;
}
.timeslot.active {
  background: #ffa500;
}
.timeslot > .timeslot-popup-content {
  display: none;
}
.ui-tooltip-actions {
  width: 200px;
  max-height: 80%;
}
.wizard {
  margin: 10px;
  background: #d1ce8a;
  padding: 10px;
  display: block;
}
