@timeslot-background: #fff;
@timeslot-active-background: orange;

.planner {
	border-spacing: 2px;
	border-collapse: separate;
}

.planner th {
	text-align: center;
}

.timeslot {
	height: 3em;
	width: 14%;
	border-spacing: 2px;
	background: @timeslot-background;
	cursor: pointer;
}

	.timeslot:hover {
		background: (@timeslot-active-background *1.2);
	}

	.timeslot.active {
		background: @timeslot-active-background;
	}

	.timeslot > .timeslot-popup-content {
		display: none;
	}

.timeslot-row {

}

.ui-tooltip-actions {
	width: 200px;
	max-height: 80%;
}

.wizard {
	margin: 10px;
	background: #d1ce8a;
	padding: 10px;
	display: block;
}